*body{
    position: relative;
    width: 1600px;
    height: 2349px;
    background: #FFFFFF;
}

.title{
    background-color: #2F303A;
    height: 600px;
    width: 1600px;
    text-align: center;
}

.title h1{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #FFFFFF; 
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.title button{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 450px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2196F3; 
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

.features{
    padding: 0;
     width: 762px; 
     margin: 0 auto
}

.features ul{
    list-style: none; 
    margin: 0; 
    padding: 0
}

.features li{
    display: inline;
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
}

